@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

body {
  transition: background 0.25s;
}

div.snippet img.icon {
  transition: opacity 1.0s;
  position: absolute;
  top: 5px;
  right: 400px;
  margin: -1.4em 0.3em 0 0;
  width: 48px;
  float: left;
}

div.snippet img.icon.bounce {
	animation: bounce 1.2s;
}

.snippet {
  position: relative;
}

.snippet.dark {
  color: #f0f0f0
}

.snippet.dark #snippet-css {
  color: #fff;
}

.snippet.dark a {
  color: #00bfff;
}

.twitter-typeahead {
  color: #3C3C3C
}

.snippet .snippet-content {
  padding-left: 80px;
  width: 400px;
  height: 180px;
}

.snippet code {
  font-size: 12px;
}

.snippet #snippet-css, .snippet .tt-dropdown-menu {
  width: 200px;
}

.snippet #snippet-css {
  border: none;
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.25) !important;
  border-radius: 3px;
  padding: 0.3em;
  /* Twitter typeahead is pushing it down somehow, so we'll push it
   * back up with this. */
  margin-top: -1.2em;
}

.snippet .tt-hint {
  background: transparent !important;
  opacity: 0;
}

.snippet .tt-dropdown-menu {
  font: message-box;
  background: white;
  max-height: 150px;
  border: 1px solid black;
  overflow-y: auto;
  box-shadow: 2px 2px 2px black;
}

.snippet .tt-dropdown-menu p {
  margin: 0;
}

.snippet .tt-dropdown-menu .tt-suggestion {
  padding: 2px;
}

.snippet .tt-dropdown-menu .tt-cursor {
  color: white;
  background: black;
}

/* http://cssarrowplease.com/ */
.snippet .arrow-box {
  position: absolute;
  top: -40px;
  left: -20px;
  color: white;
  padding: 4px;
  font: message-box;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  display: inline-block;
  transition: opacity 0.5s;
}

.snippet .arrow-box:not(.selected) {
  opacity: 0;
}

.snippet .arrow-box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: rgba(0, 0, 0, 0.85);
  border-width: 4px;
  margin-left: -4px;
}

#snippet-css-container {
  position: relative;
}

#snippet-end {
  transition: opacity 1s;
  padding: 1em;
  margin-left: -1em;
  border-radius: 0.5em;
  background: #fff;
  color: #3C3C3C !important;
}

#snippet-end:not(.selected) {
  opacity: 0;
}

.body-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: dashed;
  border-width: 2px;
  border-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  pointer-events: none;
  transition: border-color 1s, background 0.33s;
}

.body-frame.selected {
  border-color: gray;
}

.body-frame .arrow-box:not(.selected) {
  opacity: 0;
  margin-left: 40px;
}

/* http://cssarrowplease.com/ */
.body-frame .arrow-box {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  width: 200px;
  padding: 20px 20px;
  margin-left: 10px;
  margin-top: 25%;
  border-radius: 4px;
  transition: opacity 1s, margin-left 1s;
}

.body-frame .arrow-box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0.85);
  border-width: 10px;
  margin-top: -10px;
}

.body-frame .arrow-box code {
  font-family: inherit;
  color: #66BDFF;
}
